@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Cinzel');
html,body{
  height:100%;
  font-family: 'Raleway', sans-serif;
}
#links a{
  padding:10px;
  float:right;
  text-decoration:none;
  color:#fff;
}
#links a:hover{
    border-bottom-style: solid;
    border-color:#fff;
    border-width: 1px;
}
.separator{
    width: 50%;
    border-width: 0.7px;
}
nav{
    background-color: #000;
    height: 40px;
}
#particle {
  /*
      #cB273f : red
      #2B273f : blue-purple
      #2B553f : dark-green

  */
    background:radial-gradient(ellipse at bottom, #400166 0%, #090A0F 100%);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:-2; 
 }
#slide1{
    top: 0px;
    left: 0px;
    width: 100%;
}
.main{
    position: fixed;
    top:15px;
    height: 100%;
    left: 50%;
    z-index: -2;
}
#bio-text{
    color: #fff;
    position: fixed;
    top:50%;
    font-family: 'Cinzel', serif;
    transform: translateY(-50%);
    overflow-wrap: normal;
    width:100%;
    z-index: -1;
  }
  .title{
    color: #fff;
  }
  .upcoming{
    color:#fff;
  }
  .upcoming-event{
    color:black;
    border-style: none;
    margin-bottom:20px;

  }
  #mock-parliment{
    Background-color:#0000e5;
  }
  #aircrash{
    background-color:orange;
  }
  .recently-compleated{
    Background-color:#00004c;
    border:0;
    margin-bottom: 2px;
  }
  .recently-tile{
    padding:2;
  }
  .others-tile{
    margin-bottom: 2px;
    border-style: none;
    Background-color:#00004c;
  }
  #winners{
    background-color: forestgreen;
  }
  #events{
    margin-top: 60px;
  }
